<web-app>
	<servlet>
		<servlet-name>one</servlet-name>
		<servlet-class>List</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>one</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>two</servlet-name>
		<servlet-class>Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>two</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>three</servlet-name>
		<servlet-class>Insert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>three</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>four</servlet-name>
		<servlet-class>Update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>four</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>five</servlet-name>
		<servlet-class>Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>five</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>six</servlet-name>
		<servlet-class>Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>six</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
</web-app>
