<web-app>
	<servlet>
		<servlet-name>first</servlet-name>
		<servlet-class>First</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>first</servlet-name>
		<url-pattern>/first</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>second</servlet-name>
		<servlet-class>Two</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>second</servlet-name>
		<url-pattern>/two</url-pattern>
	</servlet-mapping>
</web-app>
